#mainbody {
    background-image: url("../images/mainbackground.jpg");
    background-size: cover;
}

#mainheading {
    color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 3.0em;
  
    margin-top: 20px;
    margin-left: 40px;
    padding-top: 70px;
    flex-grow: 1;
}

/* Mobile Device */
@media (max-width: 480px) {
    #mainbody {
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #mainheading {
        font-size: 1.5em;
        position: relative;
        top: 2%;
        left: 0;
    }
  }