#mainbody {
    background-image: url("../images/mainbackground.jpg");
    background-size: cover;
}

@media (max-width: 1100px) {
    #mainbody {
        background-size: 100%;
        background-repeat: inherit;
    }
  }

  @media (max-width: 480px) {
    #mainbody {
        background-size: 100%;
        background-repeat: inherit;
    }
  }