#mainbody {
    background-image: url("../images/mainbackground.jpg");
    background-size: cover;
}

#mainheading {
    color: rgb(139, 64, 0);
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 3.0em;
  
    margin-top: 20px;
    margin-left: 40px;
    /*padding-top: 80px;*/
    flex-grow: 2;
}

#box {
    background-color: rgba(255,255,255,.5);
	position: absolute;
	left: 0%; right: 0%; bottom: 2%;
}

/* Background image on smaller desktop screens */
@media (max-width: 700px) {
    #mainbody {
        background-position: 50%;
    }
  }

/* Mobile Device */
@media (max-width: 480px) {
    #mainbody {
        background-size: 100%;
    }
    #mainheading {
        font-size: 1.5em;
        margin-top: 0;
        margin-left: 20px;
        padding-top: 0;
    }
  }