.columns {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 10px;
    height: 100vh;
  }
  #stack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

.image {
    height: 350px;
    width: 500px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

.bodytext {
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}