p {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 10px;
    height: 100vh;
    flex-wrap: wrap;
  }

.image {
    height: 350px;
    padding: 5px;
    margin: 10px;
}