.flex-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}

.img1-wrap {
	position: relative;
	overflow: hidden;
	margin: 30px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(139, 64, 0);
	opacity: 0.8;
	overflow: hidden;
	transition: .7s ease;
}

.img1-wrap:hover .overlay {
	height: 100%;
}

.text {
	white-space: nowrap; 
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: white;
	font-weight: lighter;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}