
.title {
  color: #0f3c0f;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 2.5em;

  margin-top: 20px;
  padding: 15px;
}

.navlinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color:rgb(139, 64, 0);
  opacity: 0.8;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
  
.navlink > a {
  color: white;
  padding: 20px;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-decoration: none;
}
  
.navlink > a:hover {
  background-color: none;
  transform: scale(1.1);
}

.bodytext {
  color: black;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: lighter;
  font-size: x-large;
  margin: 15px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.images > img {
  width: 550px;
  height: 300px;
  padding: 20px;
  margin: 10px;
}

/* Smaller computer screen */
@media (max-width: 1100px) {
  .navlinks {
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
    width: 20vw;
    height: 100%;
  }

  .navlink > a {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.0em;
  }

  .title {
    font-size: 1.8em;
  }

  .bodytext {
    font-size: medium;
  }

  .images > img {
    width: 500px;
    height: 300px;
  }
}

/* Moblie screen */
@media (max-width: 480px) {
  .navlinks {
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
    width: 30vw;
    height: 100%;
  }

  .navlink > a {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.6em;
  }

  .title {
    font-size: 1.3em;
  }

  .bodytext {
    font-size: x-small;
  }

  .images > img {
    width: 300px;
    height: 200px;
  }
}