.title {
  color: #0f3c0f;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 2.5em;

  margin-top: 20px;
  padding: 15px;
}
.navlinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color:rgb(139, 64, 0);
  opacity: 0.8;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
  
.navlink > a {
  color: white;
  padding: 20px;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-decoration: none;
}
  
.navlink > a:hover {
  background-color: gray;
}

.bodytext {
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  
  margin: 10px;
}