.title {
  color: white;
  text-align: center;

  background-color:rgb(139, 64, 0);
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;

  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
}
.navlinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color:rgb(139, 64, 0);
  opacity: 0.8;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
  
.navlink > a {
  color: white;
  padding: 20px;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  text-decoration: none;
}
  
.navlink > a:hover {
  background-color: gray;
}

#mainbody {
    background-image: url("mainbackground.jpg");
    background-size: cover;
}