h1 {
    text-align: center;
    padding: 20px;
    color: rgb(204, 85, 0)
}

body {
    background-image: url("shenandoahvalley.jpg");
    background-size: cover;
}
  
.navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(204, 85, 0);
  
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.navlink > a {
    color: white;
    padding: 10px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .navlink > a:hover {
    background-color: gray;
  }